*{ 
    margin: 0;
    padding: 0;
    border: 0;
   }

   @font-face {
    font-family: thuphap;
    src: url(segoepr.ttf);
  }

canvas{
z-index: 2;
}

html {
    background-image: url('honglo_chay-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70% 100%;
    background-position: center;
}

p {
    font-family: thuphap;
    font-size: 28px;
    color: darkred;
}

.text{
    font-family: thuphap;
    margin-left: 400px;
    color: darkolivegreen;
    font-size: 22px;
    width: 100%;
    top: 30px;
    position: absolute;
    display: block;
}

@media only screen and (max-device-width: 1024px) {
    /*your css code for Tablet devices */
    body {
        background-image: url('honglo_chay-tablet.jpg');
        background-size: 30% 10%;
        background-position: top;
    }
    .text{
        margin: auto;
        padding: 2px;
        color: red;
        background-color: #ffffff;
        opacity: 0.6;
        font-size: 28px;
        width: 100%;
        height: 100%;
        display: block;
        top: 2px
    }
}


@media only screen and (max-device-width: 767px) {
    /*your css code for mobile devices*/
    body {
        background-image: url('honglo_chay-mobile.jpg');
        background-size: 40% 20%;
        background-position: scroll;
    }
    .text{
        margin: auto;
        padding: 2px;
        color: red;
        background-color: #ffffff;
        opacity: 0.6;
        font-size: 28px;
        width: 100%;
        height: 100%;
        display: block;
        top: 2px
    }
}
